<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="static/css/main.css">
<title>Message Store Console</title>
</head>
<body>
<div class="jumbotron">
    <div class="container">
        <h1>Go Msgstore Console</h1>
        <h3><a href="/">messages</a></h3>
        <h3><a href="/api/v2/status">status api</a></h3>
        <h3>messages api <a href="/api/v2/messages">all</a> <a href="/api/v2/messages?since={{.TimeMinus5}}">last 5 mins</a></h3>
        <h3>headers api <a href="/api/v2/headers">all</a> <a href="/api/v2/headers?since={{.TimeMinus5}}">last 5 mins</a></h3>
        <h3><a href="/api/v2/peers">peer list api</a> <a href="/peers.html">peers html</a></h3>
        <h3><a href="/api/v2/time">time api</a></h3>
    </div>
</div>
<div class="quick_upload">
    <div class="container">
        <h2>Quick Upload</h2>
        <form action="/api/v2/messages" method="post" enctype="multipart/form-data">
            <div class="form-inline">
                <div class="form-group">
                    <ul>
                        <li>File:<input type="file" name="message"></li>
                    </ul>
                </div>
                <button type="submit" class="btn btn-sm btn-primary">Upload file</button>
            </div>
        </form>
    </div>
</div>
<div class="message_inventory">
    <div class="container">
        <h2>Message Inventory (received last hour)</h2>
        <table>
            <tr>
                <th>Time</th>
                <th>Expire</th>
                <th>I</th>
                <th>Size</th>
            </tr>
            {{range .Messages}}
            <tr>
                <td>{{.TimeStr}}</td>
                <td>{{.ExpireStr}}</td>
                <td><a href="api/v2/messages/{{.I}}">{{.I}}</a> <a href="api/v2/headers/{{.I}}">(header)</a></td>
                <td>{{.Size}}</td>
            </tr>
            {{end}}
        </table>
    </div>
</div>
</body>
</html>
